@media screen and (max-width: 1480px) {
    .maps {
        width: 25rem;
        height: 12rem;
        margin-left: -15rem;
    }

    .container-location {
        width: 12rem;
    }

    .logo {
        margin-top: 6rem;
    }

    .logo-footer {
        width: 200px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1250px) {
    .maps {
        width: 23rem;
        height: 12rem;
        margin-left: -20rem;
    }

    .container-location {
        width: 19rem;
    }

    .logo {
        margin-top: 6rem;
    }

    .logo-footer {
        width: 200px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1210px) {
    .maps {
        width: 23rem;
        height: 12rem;
        margin-left: -22rem;
    }

    .container-information {
        width: 20rem;
    }

    .logo {
        margin-top: 6rem;
    }

    .logo-footer {
        width: 200px;
        display: flex;
        justify-content: center;
    }

    .informations {}
}

@media screen and (max-width: 990px) {
    .maps {
        width: 21rem;
        height: 12rem;
        margin-left: -20rem;
    }

    .container-information {
        width: 20rem;
    }

    .logo {
        margin-top: 6rem;
    }

    .logo-footer {
        width: 200px;
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {


    .header {
        height: 6rem;
    }
    .image-logo {
        margin-top: 20px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .maps {
        width: 30rem;
        height: 16rem;
        margin-left: 2rem;
        display: flex;
    }

    .container-information {
       margin-right: 3rem;
       margin-top: -0.1rem;
    }

    .informations {
        font-size: 27px;
        padding-bottom: 2rem;
    }

    .logo {
        margin-top: 6rem;
    }

    .logo-footer {
        width: 13rem;
        display: flex;
        margin-top: -2rem;
        justify-content: center;
    }

}

@media screen and (max-width: 840px) {
    .filter {
        display: none;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 2rem;
    }

    .button-filter {
        margin-left: 1rem;
        
    }

    .results {
       
    }

    .container-content {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-left: 7rem;
        display: flex;
        justify-content: center;
    }

    .div-content-filter {
        display: flex;
        justify-content: center;
        margin-left: -3rem;
    }

    .search-input {
        width: 17rem;
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 550px) {

    .options {
        margin-top: -4rem;
        margin-right: 4rem;
        font-size: 23px;
    }
    .maps {
        width: 25rem;

    }

    .button-filter {
        width: 10rem;
    }

    .search-input {
        width: 15rem;
        margin-left: -0.5rem;
    }

    .card-products {
        width: 18rem;
        margin: 5rem 5rem 0 0;
    }
    

}

@media screen and (max-width: 500px) {

    .card-products {
        width: 20rem;
        display: flex;
        margin-left: 3.6rem;

    }

    .options {
        font-size: 20px;
        margin-top: -3rem;
        margin-right: 3rem;
    }
    .image-logo {
        width: 100px;
    }

    .container {
        margin: 0 0 0 0;
    }

  
   
    

}

@media screen and (max-width: 470px) {

    .image-card {
      width: 200px;

    }

    .card-products {
        
        
        justify-content: center;
    }

    .maps {
        width: 20rem;
    }

  
   
    

}